h1{
    font-size:35px;
}
h2{
    font-size:30px;
}
#home{
    margin-bottom:150px;
}
.brand-logo i {
    font-size: 2em !important;
    margin-left: 1em;
}
.card-panel {
    font-size: 1.3em;
    text-transform:uppercase;
    text-align:center;

}

.section{
    margin:150px 0;
}

#got{
    margin-top:20px;
    width:300px;
}



@media only screen and (min-width:600px) and (max-width: 792px){
.card-panel{
    font-size:.8em;
}
}